video {
  width: 100%;
  // max-width: 600px;
  min-height: 95% !important;
  max-height: 95% !important;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  background-color: black;
}


.cursor-pointer{
  cursor: pointer !important;
}


.class-table-container{
  min-height: 200px;
  max-height: 200px;
  min-width: 24%;
  max-width: 24%;
  position: relative;
}

.hover-effect-btn:hover .hover-effect-label {
  display: block !important;
}

.hover-effect-label {
  display: none !important;
}
