video {
  width: 100%;
  // max-width: 600px;
  min-height: 95% !important;
  max-height: 95% !important;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  background-color: black;
}

.cursor-pointer {
  cursor: pointer !important;
}

.class-table-container {
  min-height: 200px;
  max-height: 200px;
  min-width: 24%;
  max-width: 24%;
  position: relative;
}

.hover-effect-btn:hover .hover-effect-label {
  display: block !important;
}

.hover-effect-label {
  display: none !important;
}

.movable-box {
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
  // width: 100px;
  // height: 100px;
  // background-color: blue;
  // color: white;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // border-radius: 10px;
}

.seated-person {
  max-height: 75px;
  max-width: 75px;
  position: absolute;
  bottom: 60% !important;
}


// .vacant-seat {
//   max-height: 75px;
//   max-width: 75px;
//   position: absolute;
//   bottom: 20%;
// }
